<p id="notice"><%= notice %></p>
<div class="container text-center">
  <h1>Ecco la Bacheca degli annunci</h1>
</div>
<hr/>
<div>
  <div class="container mx-auto">
    <%@ads.each do |ad|%>
      <div class="row">
        <div class="col">
          <div class="card p-3 mb-2">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                <div class="ms-2 c-details">
                  <h6 class="mb-0">
                    <%= ad.name%>
                  </h6>
                  <span>
                    <%= ad.address%>
                  </span>
                </div>
              </div>
              <div class="badge">
                <%= link_to(edit_ad_path(ad), class: "fa-solid fa-pencil mx-2") do%>
                <%end%>
                <%= link_to(ad, method: :delete, class: "fa-solid fa-trash mx-2", data: {confirm: 'Sei sicuro di voler eliminare?'}) do%>
                <%end%>
              </div>
            </div>
            <div class="mt-5">
              <p>
                <%= ad.description%>
              </p>
              <div class="mt-5">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="mt-3"> <span class="text1">Questo locale ha ricevuto <span class="text2">3 recensioni</span></span> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
  <br>
  <%= link_to 'New Ad', new_ad_path %>
