<p id="notice"><%= notice %></p>

<h1> 
  <%= @ad.name%>
</h1>
<p>
  <strong>Name:</strong>
  <%= @ad.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @ad.address %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @ad.tel %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
