<%if barman_signed_in?%>
  <div class="row text-center mt-3">
    <div class="col-12">
      <h1>Accesso Negato <i class="fa-solid fa-x" style="color:red"></i></h1>
    </div>
  </div>
  <hr/>
  <div class="row text-center mt-3">
    <div class="col-12">
      <h2>Spiacente, sei già loggato come <strong>Barman</strong> <i class="fa-solid fa-user-tie"></i></h2>
      <h2>Effettua prima il <%= link_to 'Logout', destroy_barman_session_path, :method => :delete%></h2>
    </div>
  </div>
<%else%>
  <div class="container mt-3">
    <div class="row text-center">
      <div class="col">
        <h1>Log in <strong>Drinker</strong> <i class="fa-solid fa-user"></i></h1>
      </div>
    </div>
  </div>
  <hr/>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


    <div class="col-12">
      <%= f.label :email, :class => "form-label"%>
      <%= f.email_field :email, :autofocus => true, :autocomplete => "email",  :class => "form-control", :placeholder => "Inserisci la mail", :require => true%>
    </div>

    <div class="col-12">
      <%= f.label :password, :class => "form-label"%>
      <%= f.password_field :password, :autofocus => true, :autocomplete => "email",  :class => "form-control", :placeholder => "Inserisci la password", :require => true%>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <%= f.submit "Login", :class => "btn btn-lg btn-success"%>
        </div>
        <div class="col-4">
          <button type="reset" class="btn btn-lg btn-warning">Reset</button>
        </div>
      </div>
    </div>

  <% end %>
  <%= render "drinkers/shared/links" %>
<%end%>
