<%= form_with(model: cocktail) do |form| %>
  <% if cocktail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cocktail.errors.count, "error") %> prohibited this cocktail from being saved:</h2>

      <ul>
        <% cocktail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, :id => "cocktail-name" %>
  </div>

  <div class="field">
    <%= form.label :preparation %>
    <%= form.text_area :preparation, :id => "cocktail-preparation" %>
  </div>

  <div class="field">
    <%= form.label :ingredients %>
    <%= form.text_field :ingredients, :id => "cocktail-ingredients" %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, :id => "cocktail-price"%>
  </div>

  <div class="actions">
    <%= form.submit 'Aggiungi Cocktail'%>
    <%= button_tag 'Reset', :type => 'reset'%> <!-- Button per reset-->
  </div>
<% end %>
