<div class="row text-center mt-3">
  <div class="col">
    <h1>Aggiungi nel menù un nuovo Cocktail</h1>
  </div>
</div>
<hr/>
<p id="notice"><%= notice %></p>
<%= render 'form', cocktail: @cocktail %>
<hr/>
<div class="row">
  <div class="col text-center">
    <h2>Vuoi cercare le informazioni? <button class="btn-info" type="button" data-bs-toggle="modal" data-bs-target="#popupInfo" style="border:none;"><i class="fa-solid fa-info-circle"></i></button>
  </div>
</div>
<div class="row">
  <label for="cocktail_name" class="form-label">Nome del Cocktail </label>
  <div class="col-12">
    <%= form_with url: "/api", :method => :get do |form|%>
      <div class="row">
        <div class="col-11">
          <%= form.text_field :cocktail_name, :id => "text-field",:class => "form-control", :placeholder => "Inserisci il nome del cocktail", :require => true%>
          <input type="hidden" value="<%=@bar.id%>" name="bar"/>
        </div>
        <div class="col-1">
          <button type="submit" class="no-border mt-1" id="search-cocktail">
            <i class="fa-solid fa-search mt-1" style="font-size: 40px; border:none"></i>
          </button>
        </div>
      </div>
    <%end%>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col">
  </div>
</div>
<!-- -->
<%if session[:found] == true%>
  <div class="row m-3">
    <div class="col text-center">
      <h1>
        <span id="drink-name-api"><%= session[:drink_name]%></span>
        <%= button_tag class: 'btn btn-success', :id => "add-button" do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
      </h1>
      ( <i><span id="drink-id-api"><%= session[:id_drink]%></span></i> )
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="text-center">
        <img src="<%=session[:drink_img]%>" class="img-fluid rounded border border-danger mx-auto" width="400px">
      </div>
      <p class="invisible" id="drink-pic-api"><%=session[:drink_img]%></p>
    </div>
  </div>
  <div class="row my-4">
    <div class="col">
      <h2>Preparazione</h2>
      <div id="drink-preparation-api"><%= session[:instructionsIT]%></div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col">
      <h2>Ingredienti</h2>
      <ol>
        <li><%=session[:ing1]%></li>
        <li><%=session[:ing2]%></li>
        <li><%=session[:ing3]%></li>
        <li><%=session[:ing4]%></li>
        <li><%=session[:ing5]%></li>
        <li><%=session[:ing6]%></li>
        <li><%=session[:ing7]%></li>
        <li><%=session[:ing8]%></li>
        <li><%=session[:ing9]%></li>
        <li><%=session[:ing10]%></li>
        <li><%=session[:ing11]%></li>
        <li><%=session[:ing12]%></li>
        <li><%=session[:ing13]%></li>
        <li><%=session[:ing14]%></li>
        <li><%=session[:ing15]%></li>
      </ol>
    </div>
  </div>

  <!-- Vengono resettate le variabili -->
  <%session[:found] = nil%>
  <%session[:drink_name] = nil%>
  <%session[:id_drink] = nil%>
  <%session[:drink_img] = nil%>
  <%session[:instructionsIT] = nil%>
  <%session[:ing1] = nil%>
  <%session[:ing2] = nil%>
  <%session[:ing3] = nil%>
  <%session[:ing4] = nil%>
  <%session[:ing5] = nil%>
  <%session[:ing6] = nil%>
  <%session[:ing7] = nil%>
  <%session[:ing8] = nil%>
  <%session[:ing9] = nil%>
  <%session[:ing10] = nil%>
  <%session[:ing11] = nil%>
  <%session[:ing12] = nil%>
  <%session[:ing13] = nil%>
  <%session[:ing14] = nil%>
  <%session[:ing15] = nil%>
<%else%>
  <!-- NESSUN RISULTATO DALLA RICERCA-->
  <%if session[:found] == false%>
    <div class="row">
      <div class="col text-center">
        <p> Spiecente, la ricerca non ha fornito alcun risultato. Prova ad inserire un nome  di un cocktail valido</p>
      </div>
    </div>
  <%end%>
  <%session[:found] = nil%>
<%end%>
<div class="row justify-content-between">
  <div class="col-2">
    <%= button_to "Cancella", new_bar_cocktail_path, :method => :get ,:class => "btn btn-lg btn-danger mt-2"%>
  </div>
  <div class="col-2">
    <%= button_to "Indietro", bar_cocktails_path, :method => :get , :class => "btn btn-lg btn-danger mt-2"%>
  </div>
</div>


<div class="modal fade" id="popupInfo" tabindex="-1" aria-labelledby="popupInfoLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="popupInfoLabel">Come funziona il servizio?<i class="fa-solid fa-glass mx-2"></i></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<!-- todo: scrivere le info  -->
				<div>Inserisci il nome del cocktail che vuoi cercare. Effettueremo una ricerca per fornirti le informazioni che cerchi.<br> Con il pulsante <i class="fa-solid fa-plus" style="color:green"></i> puoi aggiungere quel cocktail al tuo menù</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-bs-dismiss="modal">
					<span>Ho capito</span>
				</button>
			</div>
		</div>
	</div>
</div>
<%= javascript_pack_tag 'cocktails/search_api' %>
