<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>

<p>
  <strong>Preparation:</strong>
  <%= @cocktail.preparation %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @cocktail.ingredients %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cocktail.price %>
</p>

<%= link_to 'Back', bar_path(:id => @cocktail.bar) %>
