<!--      -->
<div class="container">
  <%= form_with(model: bar) do |form| %>
    <% if bar.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(bar.errors.count, "error") %> prohibited this bar from being saved:</h2>
        <ul>
          <% bar.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row g-3 justify-content-center align-items-center m-4">
      <div class="col-sm-6 col-12">
        <label for="name" class="form-label">Nome del Bar </label>
        <%= form.text_field :name, :class => "form-control", :placeholder => "Inserisci il nome", :require => true%>
      </div>

      <div class="col-sm-6 col-12">
        <label for="address" class="form-label">Indirizzo </label>
        <%= form.text_field :address, :class => "form-control", :placeholder => "Inserisci l'indirizzo", :require => true%>
      </div>

      <div class="col-12">
        <label for="address" class="form-label">Descrizione del Locale</label>
        <%= form.text_area :description, :class => "form-control", :placeholder => "Inserisci una descrizione", :require => true%>
      </div>

      <div class="col-12">
        <label for="tel" class="form-label">Telefono: </label>
        <%= form.text_field :tel, :class => "form-control", :placeholder => "Inserisci il telefono", :require => true%>
      </div>

      <div class="col-12">
        <label for="pic" class="form-label">Url foto locale: </label>
        <%= form.text_field :pic, :class => "form-control", :placeholder => "Inserisci Url ", :require => true%>
      </div>

      <div class="col-12 text-center">
        <%= form.submit 'Aggiungi Bar', :class => 'btn btn-outline-success' %>
      </div>
    </div>
  <%end%>
  </div>
