<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col text-center">
    <h1>Lista dei Bar <i class="fa-solid fa-shop"></i></h1>
  </div>
</div>
<hr/>
<div class="row justify-content-between">
  <div class="col-3">
    <a href="/bars/new" class="btn btn-lg btn-success"><i class="fa-solid fa-plus"></i></a>
  </div>
  <div class="col-3">
    <div class="input-group rounded">
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </div>
  </div>
</div>
<%if barman_signed_in?%>
  Bentornato BARMAN <%= current_barman.email%>[ <%= link_to 'Logout', destroy_barman_session_path, :method => :delete%> ] 
<%end%>
<br/>
<%if drinker_signed_in?%>
  Bentornato DRINKER <%= current_drinker.email%> [ <%= link_to 'Logout', destroy_drinker_session_path, :method => :delete%> ] 
<%end%>
<!-- 
<div class="row">
  <div class="col">
    <button type="button" class="btn btn-success">SUCCESS</button>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Address</th>
      <th>Tel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bars.each do |bar| %>
      <tr>
        <td><%= bar.name %></td>
        <td><%= bar.description %></td>
        <td><%= bar.address %></td>
        <td><%= bar.tel %></td>
        <td><%= link_to 'Show', bar %></td>
        <td><%= link_to 'Edit', edit_bar_path(bar) %></td>
        <td><%= link_to 'Destroy', bar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar', new_bar_path %>

-->
<div class="container mx-auto text-center m-3">
  <%@bars.each do |bar|%>
    <div class="row mt-2">
      <div class="col">
        <div class="card p-3 mb-2">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
              <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
              <div class="ms-2 c-details">
                <h6 class="mb-0">
                  <%= bar.name%>
                </h6>
                <span>
                  <%= bar.address%>
                </span>
              </div>
            </div>
            <div class="badge">
              <%= link_to(edit_bar_path(bar), class: "fa-solid fa-pencil mx-2") do%>
              <%end%>
              <%= link_to(bar, method: :delete, class: "fa-solid fa-trash mx-2", data: {confirm: 'Sei sicuro di voler eliminare?'}) do%>
              <%end%>
            </div>
          </div>
          <div class="mt-5">
            <p>
              <%= bar.description%>
            </p>
            <div>
              <%= link_to('Visualizza', bar)%> <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="mt-5">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="mt-3"> <span class="text1">Questo locale ha ricevuto <span class="text2">3 recensioni</span></span> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end%>
  <div class="row mt-3">
    <div class="col-12">
      <%= link_to('Aggiungi Annuncio', new_bar_path, class: "btn btn-lg btn-primary")%>
    </div>
  </div>
</div>
<br>
<!-- Per importare del codice javscript inserito in app/javascript/packs/bar-->
<%= javascript_pack_tag 'bar/bar' %>
