<div class="container">

  <section class="text-center">
    <div class="col-1">
      <h1 class="display-5"><a href="<%=bars_path%>"><i class="fa-solid fa-arrow-left-long"></i></a></h1>
    </div>
    <div class="col-12">
      <h1 class="display-5"><%=@bar.name%> <i class="fa-solid fa-shop"></i></h1>
      <small class="text-muted">Questo bar ha <strong><%=@num_sub%></strong> iscritti</small>
    </div>
  </section>

  <div class="row">
    <div class="col text-center">
      <p class="message-w"><%=flash[:message]%></p>
      <h3>Informazioni su questo Bar</h3>
    </div>
  </div>


  <div class="row">
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item">Nome: <strong><%= @bar.name %></strong></li>
      <li class="list-group-item">Descrizione: <strong><%= @bar.description %></strong></li>
      <li class="list-group-item">Indirizzo: <strong><%= @bar.address %></strong></li>
      <li class="list-group-item">Telefono: <strong><%= @bar.tel %></strong></li>
      <li class="list-group-item">Proprietario: <strong><%= @bar.barman.email %></strong></li>
    </ul>
  </div>

  <hr/>
  
  <div class="row">
    <div class="col-11 text-center">
      <h2>Cocktail Menù del <strong><%=@bar.name%></strong> <i class="fa-solid fa-book"></i></h2>
      <p id="notice"><%= notice %></p>
    </div>
    <div class="col-1">
      <a href="<%=new_bar_cocktail_url(:bar_id=> @bar.id)%>" id="add-cocktail"><h2><i class="fa-solid fa-plus-circle" style="color: green"></i></h2></a>
    </div>
  </div>
</div>
  
<div class="container">
  <%if @cocktails.size == 0%>
    <h4 class="text-center mt-4">Non ci sono ancora cocktail nel menù <i class="fa-solid fa-face-frown"></i></h4>
    <div class="text-center mt-4"><button class="btn btn-lg btn-success">Aggiungi <i class="fa-solid fa-martini-glass"></i></button></div>
  <%else%>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Preparazione</th>
          <th scope="col">Prezzo</th>
          <th scope="col">Foto</th>
          <th scope="col">Azioni</th>
        </tr>
      </thead>
      <tbody>
        
        <%@cocktails.each do |cocktail|%>
          <tr>
            <td><%=cocktail.name%></td>
            <td><%=cocktail.preparation%></td>
            <td><%=cocktail.price%> €</td>
            <%if cocktail.pic != nil%>
              <td><img src="<%=cocktail.pic%>" width="150px"></td>
            <%else%>
              <td><%= image_tag "bar/not-available.jpg", :class => "img-fluid", :width => "150px"%></td>
            <%end%>
            <td>
              <%= link_to  bar_cocktail_url(:bar_id=> @bar.id, :id => cocktail.id), :class => "btn btn-outline-success" do%>
							  <i class="fa-solid fa-eye" aria-hidden="true" target="_blank"></i>
						  <%end%>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  <%end%>
</div>

<hr/>


<div class="row text-center">
  <div class="col-11">
    <h2>Recensioni su questo Bar <i class="fa-solid fa-comment"></i></h2>
  </div>
  <div class="col-1">
    <a href="<%=new_bar_review_url(:bar_id=> @bar.id)%>"><h2><i class="fa-solid fa-plus-circle" style="color: green"></i></h2></a>
  </div>
</div>
<%if @reviews.size == 0%>
  <h4 class="text-center mt-4">Non ci sono ancora recensioni per questo bar <i class="fa-solid fa-face-frown"></i></h4>
  <div class="text-center mt-4"><button class="btn btn-lg btn-success">Aggiungi <i class="fa-solid fa-comment"></i></button></div>
<%else%>
  <%@reviews.each do |review|%>
    <div class="card m-auto mt-4" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-6">
          <%= image_tag "bar/bottles.jpg", :class => "img-fluid"%>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title"><%= review.drinker.email %></h5>
            <p class="card-text"><%= review.text%></p>
            <p class="card-text">
              Voto: 
              <%for i in 0..review.vote-1%>
						  	<span class="star">★</span>
						  <%end%>
            </p>
            <p class="card-text mt-3"><small class="text-muted">Recensione scritta il <i><%= review.created_at%></i></small></p>
          </div>
        </div>
      </div>
    </div>
  <%end%>
<%end%>

