<h1 class="text-center mt-3">Area personale <strong>Barman</strong> <i class="fa-solid fa-user-tie"></i></h1>
    <hr/>
<div class="container">
	<div class="row align-items-center my-2">
		<div class="col-md-6 col-12">
			<label>Nome</label>
		</div>
		<div class="col-md-6 col-12">
			<div><strong><%=current_barman.name%></strong></div>
		</div>
	</div>
	<div class="row align-items-center my-2">
		<div class="col-md-6 col-12">
			<label>Cognome</label>
		</div>
		<div class="col-md-6 col-12">
			<div><strong><%=current_barman.surname%></strong></div>
		</div>
	</div>
	<div class="row align-items-center my-2">
		<div class="col-md-6 col-12">
			<label>Email</label>
		</div>
		<div class="col-md-6 col-12">
			<div><strong><%= current_barman.email%></strong></div>
		</div>
	</div>
	<div class="row align-items-center my-2">
		<div class="col-md-6 col-12 ">
			<label>Password</label>
		</div>
		<div class="col-md-6 col-12">
			<!-- Button trigger modal -->
			<button id="btn-chg-pass" type="button" class="btn btn-warning btn-custom btn-red" data-bs-toggle="modal" data-bs-target="#popupCambioPass">
				<span>Cambia password</span>
			</button>
		</div>
	</div>
	<div class="row align-items-center my-2">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<div class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
					Servizio Bot <button class="btn-info" type="button" data-bs-toggle="modal" data-bs-target="#popupInfo" style="border:none;"><i class="fa-solid fa-info-circle"></i></button>
				</div>
			</li>
		</ul>
	</div>
	<p id="notice"><%= notice %></p>
	<%if @bars.size == 0%>
		<div class="container m-4">
			<div class="row">
				<div class="col-12 text-center">
					<p>
						Spiacente! Ancora non possiedi alcun Bar!<br/>
						Per poter usufruire del servizio Bot e notificare gli iscritti è necessario possedere dei bar
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-12 text-center">
					<%=link_to "Aggiungi un Bar", new_bar_path, :class => "btn btn-outline-success"%>
				</div>
			</div>
		</div>
	<%else%>
    	<div class="container m-4">
    	    <div class="row align-items-center my-2">
			    <div class="col-12">
    	            <%= form_with url: "/api/message", :id => "form-telegram", :method => :post, :id => "form" do |form|%>
    	                <div class="row mt-4">
							<p>Inserisci il testo del messaggio:</p>
    	                    <div class="col-12">
    	                    <%= form.text_area :messaggio, :id => "msg", :name => "messaggio", :class => "form-control", :placeholder => "Inserisci il messaggio...", :require => true%>
    	                    </div>
    	                </div>
						<div class="row mt-4">
							<p>Seleziona il Bar dal quale vuoi inviare la comunicazione:</p>
							<div class="col-12">
								<select name="bar" class="form-select" id="select-bar">
									<% @bars.each do |bar|%>
										<option value="<%=bar.id%>"><%=bar.name%></option>
									<%end%>
								</select>
							</div>
						</div>
    	                <div class="row mt-4">
    	                    <div class="col-12">
    	                    	<button id="submit" type="submit" class="btn btn-lg btn-primary">Invia messaggio <i class="fa-brands fa-telegram"></i></button>
    	                    </div>
    	                </div>
    	            <%end%>
			    </div>
		    </div>
    	</div>
	<%end%>
	<div class="row align-items-center my-2">
        <h2 class="text-center">I Bar che possiedi <i class="fa-solid fa-shop"></i></h2>
        <hr/>

		<%@bars.each do |bar|%>
			<div class="card bg-light mt-3" style="max-width: 100%;">
  				<div class="card-header"><%= link_to bar.name, bar%></a></div>
  					<div class="card-body">
    					<h5 class="card-title"><%=bar.barman.email%></h5>
    					<p class="card-text"><%=bar.description%></p>
						<%= link_to  "bars/#{bar.id}", method: :delete, data: {confirm: "Sei sicuro di voler eliminare #{bar.name}?"}, :class => "btn btn-outline-danger" do%>
							Elimina <i class="fa-solid fa-trash" aria-hidden="true" target="_blank"></i>
						<%end%>
						<%= link_to  edit_bar_path(id: bar), :class => "btn btn-outline-warning" do%>
							Modifica <i class="fa-solid fa-pencil" aria-hidden="true" target="_blank"></i>
						<%end%>
						<%= link_to  bar, :class => "btn btn-outline-success" do%>
							Visualizza <i class="fa-solid fa-eye" aria-hidden="true" target="_blank"></i>
						<%end%>
  					</div>
				</div>
			</div>
		<%end%>
    </div>
</div>

<div class="modal fade" id="popupInfo" tabindex="-1" aria-labelledby="popupInfoLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="popupInfoLabel">Come funziona il Bot?<i class="fa-solid fa-robot mx-2"></i></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<!-- todo: scrivere le info  -->
				<div>In qualità di utente barman, puoi notificare gli utenti che si iscriveranno al tuo bar tramite telegram.<br>Ogni volta che vuoi inviare un messaggio o che inserisci una nuova proposta nel menù il bot si 
                occuperà di notificare tutti gli iscritti!</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-bs-dismiss="modal">
					<span>Ho capito</span>
				</button>
			</div>
		</div>
	</div>
</div>

<%= javascript_pack_tag 'barman/personalArea' %>